<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
      <section name="environmentSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
   </configSections>
   <specFlow>
      <unitTestProvider name="MSTest" />
   </specFlow>
   <environmentSettings>
      <ActivePlatform>Docker</ActivePlatform>
      <Platforms>
         <Platform Name="Docker">
            <Url>http://192.168.99.100:8083/alpacashow-admin-backend/webservice/</Url>
         </Platform>
      </Platforms>
   </environmentSettings>
</configuration>