<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
      <section name="EnvironmentSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
   </configSections>
 
   <appSettings>
      <add key="ActiveEnvironment" value="Local"/>
      <!-- Urls for the diffrent environments -->
      <add key="LocalWebserviceUrl" value="http://localhost:8081/webservice/"/>
      <add key="DockerWebserviceUrl" value="http://192.168.99.100:8083/alpacashow-admin-backend/webservice/"/>   
  
      <add key="LocalFrontendUrl" value="http://localhost:8080/"/>
  
   </appSettings>
 
   <specFlow>
      <unitTestProvider name="MSTest" />
      <stepAssemblies>
         <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
      </stepAssemblies>
   </specFlow>

</configuration>
