<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
      <section name="Environment" type="Fully.Qualified.TypeName.Environment, AssemblyName" />
      <section name="Local" type="System.Configuration.IgnoreSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Docker" type="System.Configuration.IgnoreSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
   </configSections>
   
   <specFlow>
      <unitTestProvider name="MSTest" />
   <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies></specFlow>
   
   <!-- Set the active environment -->
   <Environment environmentName="Docker" />
   
   <!-- Settings for every environment -->
   <Local url="http://localhost:8081/webservice/" />
   <Docker url="http://192.168.99.100:8083/alpacashow-admin-backend/webservice/" />

</configuration>
