<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net452" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.Assist.Dynamic" version="1.2.0" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net452" />
</packages>